<!DOCTYPE html>
<html>
<head>
    <title>Movie Prediction System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <h2>🎬 Movie Recommendation</h2>
    <div>
        <a href="/login">Login</a>
        <a href="/signup">Register</a>
    </div>
</nav>

<section class="home">
    <h1>Welcome to Movie Prediction Website</h1>
    <p>Get personalized movie recommendations instantly!</p>
    <a href="/signup" class="btn">Get Started</a>
</section>

</body>
</html>